<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-baassampleapp" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>cordova-plugin-baassampleapp</name>
  <platform name="android">
    <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
  </platform>
</plugin>
